body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.product-card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Main Image Styling */
.main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-subtitle {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

/* Carousel Styling */
.carousel-container {
    width: 100%;
    margin-top: 10px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.carousel-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.3s;
}

.carousel-image:hover {
    border: 2px solid #007BFF;
}

.thumbnail {
    border: 2px solid transparent;
    transition: border 0.2s;
}

.thumbnail.active {
    border: 2px solid #007BFF;
    }
